/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* MAIN */
.container {
    background-color: black;
    width: 100%;
    height: 100vh;
}

.area.foto {
    height: calc(100% - 60px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    row-gap: 10px;
    column-gap: 5px;
}

.monti{
    position: relative;
    display: inline-block;
} 

img {
    max-height: 81px;
}    

span {
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    font-size: .7rem;
}

.area.icone {
    height: 60px;
    width: 100%;
    background-color: rgb(34 34 34);
    display: flex;
}

.icone-sinistra {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* debug */
    /* border: 1px solid white; */
}

.icone-centro {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* debug */
    /* border: 1px solid white; */
}

.fa-user-group {
    margin-left: 29px;
}

.fa-share-from-square {
    color: rgb(20, 234, 20);
    margin-left: 15px;
}

.fa-table-cells-large {
    margin-left: 22px;
}

.fa-solid {
    color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 1.1rem;
}

ul {
    text-decoration: none;
    list-style: none;
    padding-left: 15px;
}

li {
    color: white;
}

.scritte-icone {
    font-size: .7rem;
}

.fa-angle-up {
    font-size: .5rem;
}

.icone-destra {
    width: 20%;
    height: 100%;

    /* debug */
    /* border: 1px solid white; */
}